NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/f_os?schema=public"
JWT_SECRET="change-me-to-a-long-random-string-at-least-32-chars"
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:3000
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=factoryos/kettle-demo-01/events
